{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="title">
    <h3>What's that Bill?</h3>
    <h4>Recognize your US Dollar bill</h4> 
        Select the image of a US Dollar bill on hand or take a new pic (if you're on a mobile device). Click submit to view the value of the bill.
        <ul>
          <li>Allowed image types: jpg, jpeg, png</li>
          <li>Max image size: 20 MB</li>
        </ul>
  </div>

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop image here or click to select</div>
      <img id="image-preview" class="hidden" />
    </label>
  </div>
  <div style="margin-bottom: 2rem;">
    <input type="button" value="Submit" class="button" onclick="submitImage();" />
    <input type="button" value="Clear" class="button" onclick="clearImage();" />
  </div>

  <div id="image-box">
    <img id="image-display" />
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>
  <div id="pred-result" class="hidden"></div>
</div>

{% endblock %}
